body{
    background-color: rgb(95, 119, 95);
    margin-left: 30px;
    
}
input{
    width: 350px;
    height: 30px;
    background-color: rgb(149, 164, 177);
    font-family: Honey Crepes;
    font-size: 20px;
}
.titulo{
    font-family: Starborn;
    text-align: center;
    font-size: 40px;
}
label{
    font-family:monospace;
    font-size: 25px;
    color: rgb(16, 33, 47);
}
button{
    width: 150px;
    height: 30px;
    background-color: rgb(162, 193, 179);
    font-family: Nicolast;
    font-size: 25px;
    color: rgb(7, 45, 45);
    margin-left: 125px;
}